@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*Typography Styling*/
h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 80px;
  font-weight: bold;
  padding-top: 50px;
  padding-left: 20px;
  color: #0a1128;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 55px;
  padding-top: 15px;
  padding-left: 20px;
  color: #001f54;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding-left: 15px;
  color: #034078;
}

h4 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 5px;
}

p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

footer {
  background-color: #001F54;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 50px;
  padding: 15px;
}

footer>div {
  text-align: justify;
  padding: auto;
  color: #fff;
}

footer h3 {
  color: #83D9F1;
}

.accent-word {
  color: #1282A2;
}

.links {
  text-decoration: none;
}

.image {
  width: 100px;
  height: 50px;
  background-image: url('./images/Martz90-Hex-Messenger.512.png')
}

.joe-image {
  background-image: url("./images/joe-img.jpeg");
}

.bella-image {
  background-image: url("./images/bella-img.jpeg");
}

.logo-sqr {
  background-image: url("./images/odin-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.heading-logo {
  background-image: url('./images/dark-logo.png');
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.pageStyle {
  @apply -translate-x-2/4 -translate-y-2/4 bg-[lightcyan] w-[30%] absolute p-5 rounded-[10px] border-2 border-solid border-[black] left-2/4 top-2/4;
}

.button {
  @apply mt-2.5;
}

button {
  background-color: #0a1128;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  /*transform active:scale-75 transition-transform*/
  transform: scale(.75);
  transition-property: transform;
}

button:hover {
  background-color: #034078;
  color: #fff;
  border-style: solid;
  border-width: 1px;
}

/*Column Styling */
.two-column {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  padding: 15px;
}

.two-column>div {
  text-align: justify;
  padding: auto;
}

.three-column {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  padding: 15px;
}

.three-column>div {
  text-align: justify;
  padding: auto;
  border-radius: 20px;
  background-color: #001F54;
  color: white;
}

.three-column h4 {
  color: #83D9F1;
}

.heading-column {
  display: flexbox;
}

/*External button styling used here*/
.glow-on-hover {
  @apply w-full h-[50px] text-white cursor-pointer relative z-0 overflow-hidden rounded-[10px] border-[black];
  outline: greenyellow;
  background: #1282a2;
  padding-block: 10;
}

.glow-on-hover::before,
.glow-on-hover::after {
  @apply content-[''] absolute w-full h-full opacity-0 transition-opacity duration-[0.3s] ease-[ease-in-out] rounded-[10px] left-0 top-0;
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
}


.glow-on-hover::before {
  @apply bg-[400%] animate-[glowing_20s_linear_infinite] blur-[5px];
}

.glow-on-hover:hover::before {
  @apply opacity-100;
}

.glow-on-hover:active {
  @apply text-black;
}

.glowing {
  animation: glowing 1s infinite alternate;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
  }

  50% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 60px #00ff00, 0 0 70px #00ff00;
  }

  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff;
  }
}


/* Define CSS styles for the new tab content */


.label {
  @apply text-[#008080] text-center block py-2.5;
}

/* .rounded {
  @apply bg-white shadow-[0_0_10px_rgba(0,0,0,0.1)] p-5 rounded-[10px];
} */
#username {
  @apply w-full h-[50px] border text-[black] p-2.5 rounded-[15px] border-solid border-[#ccc];
  background: transparent;
}

#password {
  @apply w-full h-[50px] border text-[black] p-2.5 rounded-[15px] border-solid border-[#ccc];
  background: transparent;
}

#email {
  @apply w-full h-[50px] border text-[black] p-2.5 rounded-[15px] border-solid border-[#ccc];
  background: transparent;
}

.modules-list {
  display: flex;
  flex-wrap: wrap; /* Wrap to the next line when there's not enough space */
  list-style: none;
  padding: 0;
}

.module-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
}

.module-item div {
  margin-bottom: 5px;
}


table {
  width: 100%;
  border-collapse: collapse;
}



th, td {
  text-align: center;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Optional: Add alternating row colors */
}

textarea {
  width: 100px; /* Set the width to a fixed size */
  height: 100px; /* Set the height to a fixed size */
  resize: none; /* Prevent resizing by the user */
}

/* Add this CSS in your stylesheet or component */
.profile-dropdown {
  position: relative;
}

.profile-image-container {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px; /* Adjust the width and height as needed */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.default-profile-image {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px; /* Adjust the width and height as needed */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pencil-icon {
  color: #fff;
  font-size: 24px;
}

/* Additional styling for the file input */
#imageUpload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}





